<div ng-controller="coursesController as courses">
  <section class="works service-page">
    <div class="container">
      <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Seleccione los cursos vistos</h2>
      <br />
      <div class="row">
        <span ng-repeat="a in courses.courses" class="col-md-2" >
          <label for="{{a.course_code}}">
            <input type="checkbox" ng-model="courses.seen[a.course_id]" name="group" id="{{a.course_code}}" />
            {{a.course_code}}
          </label>
        </span>


      </div>
      <div class="row">
        <br />
        <div class="col-md-12" style="text-align:right">
          <div class="btn-group">
            <a class="btn btn-success" ng-click="courses.generate()">Generar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
