<div ng-controller="coursesController as courses">
  <section class="works service-page">
    <div class="container">
      <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Seleccione los cursos vistos</h2>
      <br />
      <div class="spinner">
      <i ng-if="courses.processing" class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
      </div>
      <div ng-if="!courses.processing" class="row">
       
        <input placeholder="Buscar curso..." class="col-md-12 form-control" type="text" ng-model="search">
        <br>
        <div class="col-md-6 col-sm-6">


        <h3>
          Cursos
        </h3>
        <ul>
          <li ng-repeat="a in courses.courses | filter: search | orderBy: 'course_code' ">
            <input type="checkbox" value="{{a.course_code}}" ng-true-value="1" ng-false-value="0"  ng-model="courses.selected[a.course_code]"  id="{{a.course_code}}" ng-click="courses.toggleSelection(a.course_code)">
            {{a.course_code}}: {{a.course_name}}
          </li>
        </ul>
        </div>
        <div class="col-md-6 col-sm-6 ">
        <h3>
          Seleccionados
        </h3>
        <ul class="col-md-6">
          <li ng-repeat="b in courses.selectedCourses">
            <label>{{b}}</label>
          </li>
        </ul>
        </div>

      </div>
      <div class="row">
        <br />
        <div class="col-md-12" style="text-align:right">
          <div class="btn-group">
            <a class="btn btn-success" ui-sref="graph" ng-click="courses.setCourses(courses.selectedCourses)">Generar</a>
            <a class="btn btn-danger" ui-sref="preferences"> Atrás</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
