<div ng-controller="coursesController as graph">
  <section class="works service-page">
    <div class="container">
      <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Resultados de la optimizacion</h2>
      <br />
      <div class="row">
      <div class="spinner">
      <i ng-if="graph.processing" class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
      </div>
        <div ng-if="graph.semesters" class="col-md-offset-1 col-md-10">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="semestre"> Semestre</th>
                <th class="materias"> Materias</th>
                <th class="semestre"> Créditos</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="a in graph.semesters">
                <td>{{a.num}}</td>
                <td>
                  <div class="circle fisica" ng-repeat="b in a.courses">
                    <div > {{b}}</div>
                  </div>
                </td>
                <td>{{a.totalCredits}}</td>
              </tr>
            </tbody>
          </table>
          <!--
          <h2 ng-show="graph.totalCredits !=0">Créditos totales</h2>
          <p  >{{graph.totalCredits}}</p>
          -->
        </div>

      </div>
      <div class="row">
        <br />
        <div class="col-md-12" style="text-align:right">
          <div class="btn-group">
            <a  class="btn btn-success" ng-click="graph.generate()">
              <span ng-if="!graph.processing">Generar</span>
              <span ng-if="graph.processing">Generando</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
