<div ng-controller="mainController as main">
	 <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">

                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span> CON ESTE PLANEADOR SEMESTRAL OPTIMIZA TU </span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">DOBLE PROGRAMA</b>
                                    <b>OPCIÓN</b>
                                    <b>DESVÍO DE PENSUM</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    Ayudamos a minimizar la cantidad de semestres necesarios de un estudiante para terminar sus programas académicos.
                                </h2>
                                <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#getstarted" data-section="#getstarted" >Empieza</a>

                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->

            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="getstarted">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-5 col-sm-5">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <br>
                                <form class="form-horizontal" action="" method="POST">
                                         <fieldset>
                                           <div id="legend">
                                             <legend class="">Registrarse</legend>
                                           </div>
                                           <div class="control-group">
                                             <label class="control-label" for="username">Usuario</label>
                                             <div class="controls">
                                               <input type="text" id="username" name="username" placeholder="" class="form-control input-lg">
                                               <p class="help-block">El usuario puede contener cualquier letra o número, sin espacios en blanco</p>
                                             </div>
                                           </div>

                                           <div class="control-group">
                                             <label class="control-label" for="email">E-mail</label>
                                             <div class="controls">
                                               <input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                                               <p class="help-block">Por favor, danos tu email</p>
                                             </div>
                                           </div>

                                           <div class="control-group">
                                             <label class="control-label" for="password">Contraseña</label>
                                             <div class="controls">
                                               <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                                               <p class="help-block">La contraseña debería ser de al menos 8 caracteres.</p>
                                             </div>
                                           </div>

                                           <div class="control-group">
                                             <label class="control-label" for="password_confirm">Contraseña (Confirmación)</label>
                                             <div class="controls">
                                               <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg">
                                               <p class="help-block">Por favor confirma tu contraseña</p>
                                             </div>
                                           </div>

                                           <div class="control-group">
                                             <!-- Button -->
                                             <div class="controls">
                                               <a class="btn btn-success" ui-sref="preferences">Registrase</a>
                                             </div>
                                           </div>
                                         </fieldset>
                                  </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <br>
                                <form class="form-horizontal" action="" method="POST">
                                         <fieldset>
                                           <div id="legend">
                                             <legend class="">Iniciar sesión</legend>
                                           </div>

                                           <div class="control-group">
                                             <label class="control-label" for="email">E-mail</label>
                                             <div class="controls">
                                               <input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                                               <p class="help-block">Escribe tu email</p>
                                             </div>
                                           </div>

                                           <div class="control-group">
                                             <label class="control-label" for="password">Contraseña</label>
                                             <div class="controls">
                                               <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                                               <p class="help-block">Por favor ingresa tu contraseña</p>
                                             </div>
                                           </div>

                                           <div class="control-group">
                                             <!-- Button -->
                                             <div class="controls">
                                               <a class="btn btn-success" ui-sref="preferences">Iniciar sesión</a>
                                             </div>
                                           </div>
                                         </fieldset>
                                       </form>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                    </div>
                </div>
            </section> <!-- /#about -->
</div>