<div ng-controller="optimizerController as optimizer">
<section class="works service-page">
  <div class="container">
    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Ingrese sus preferencias</h2>
    <br />
    <div class="row">
      <div class="col-md-3" style="text-align:left">
        <div class="row">
          <label for="sel1">Seleccione su primera carrera:</label>
        </div>
        <div class="row">
          <select class="form-control" id="sel1">
            <option>Ingenieria de Sistemas y Computación</option>
            <option>Física</option>
            <option>Matemáticas</option>
            <option>Ingenieria Electrónica</option>
            <option>Economia</option>
            <option>Administración</option>
            <option>Antropología</option>
            <option>Arquitectura</option>
            <option>Arte</option>
            <option>Ingeniería Industrial</option>
            <option>Biología</option>
            <option>Ciencia Política</option>
            <option>Derecho</option>
            <option>Ingenieria Quimica</option>
            <option>Diseño</option>
            <option>Filosofía</option>
            <option>Física</option>
            <option>Geociencias</option>
            <option>Historia</option>
            <option>Gobierno y Asuntos Públicos</option>
            <option>Historia del Arte</option>
            <option>Ingeniería Ambiental</option>
            <option>Ingeniería Biomédica</option>
            <option>Ingeniería Civil</option>
            <option>Ingeniería Eléctrica</option>
            <option>Ingeniería Mecánica</option>
            <option>Ingeniería Química</option>
            <option>Medicina</option>
            <option>Matemáticas</option>
          </select>
        </div>
        <br />
        <div class="row">
          <label for="sel1">Seleccione su segunda carrera:</label>
        </div>
        <div class="row">
          <select class="form-control" id="sel1">
            <option>Física</option>
            <option>Matemáticas</option>
            <option>Ingenieria Electrónica</option>
            <option>Economia</option>
            <option>Administración</option>
            <option>Antropología</option>
            <option>Arquitectura</option>
            <option>Arte</option>
            <option>Ingeniería Industrial</option>
            <option>Biología</option>
            <option>Ciencia Política</option>
            <option>Derecho</option>
            <option>Ingenieria Quimica</option>
            <option>Diseño</option>
            <option>Filosofía</option>
            <option>Física</option>
            <option>Geociencias</option>
            <option>Historia</option>
            <option>Gobierno y Asuntos Públicos</option>
            <option>Historia del Arte</option>
            <option>Ingeniería Ambiental</option>
            <option>Ingeniería Biomédica</option>
            <option>Ingeniería Civil</option>
            <option>Ingeniería Eléctrica</option>
            <option>Ingeniería Mecánica</option>
            <option>Ingeniería Química</option>
            <option>Ingenieria de Sistemas y Computación</option>
            <option>Medicina</option>
            <option>Matemáticas</option>
          </select>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3" style="text-align:left">
        <div class="row">
          <label for="sel3">Seleccione una opción:</label>
        </div>
        <div class="row">
          <select class="form-control" id="sel3">
            <option>-No aplica-</option>
            <option>Opción en Biología</option>
            <option>Opción en Diseño</option>
            <option>Opción en ...</option>
          </select>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4" style="text-align:left">
        <div class="row">
          <label for="ex2">Seleccione número de créditos mínimos y máximos:</label>
        </div>
        <br />
        <div class="row center">
          <b>19   </b> <input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="25" data-slider-step="1" data-slider-value="[19,23]"/> <b>23</b>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <br />
      <div class="col-md-12" style="text-align:right">
        <div class="btn-group">
          <a class="btn btn-success" href="plan.html">Siguiente</a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
